/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

@font-face{
	font-family: muli;
	src: url("fonts/Muli.ttf");
}

@font-face{
	font-family: muli-bold;
	src: url("fonts/Muli-Bold.ttf");
}

@font-face{
	font-family: muli-bolditalic;
	src: url("fonts/Muli-BoldItalic.ttf");
}

@font-face{
	font-family: muli-light;
	src: url("fonts/Muli-Light.ttf");
}
@font-face{
	font-family: muli-black;
	src: url("fonts/Muli-Black.ttf");
}
body{
	width: 100%;
	height: 100%;
	font-family: muli, sans-serif;
}

.hero{
	width: 100%;
	height: 400px;
	background-image: url(img/herocontact.jpg);
	background-size: 100%;
	color: white;
}



.header{
	width: 100%;
	height: 30px;
	margin-left: 20px;
	margin-right: 0px;
	margin-top: 0px;
	align-content: center;
	padding: 10px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
	clear: both;}

.header .login{
	width: 63px;
	height: auto;
	background-color: white;
	padding: 5px;
	float: left;
	border-radius: 14px;
	text-align: center;
	vertical-align: middle;
	float: left;
}

.header .login a{
	color: black;
	text-decoration: none;
}

.icon{
	float: left;
	width: 123px;
	height: 34px;
}


.navbar{
	width: 80%;
    border:1px solid #ccc;
    border-width:0px 0;
    list-style:none;
    margin:0;
    padding:0;
	text-align:center;
	float: left;
}
.navbar li{
    display:inline;
    float: center;
}
.navbar li a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}
.navbar a:hover {
	text-decoration: underline;
}
.contact{
	font-weight: bolder;
}


/*.isihero{
	width: 780px;
	height: 291px;
	float: center;
	margin: auto;
}*/

.judulhero{
	text-align: center;
	font-size: 60px;
	font-family: muli-bold, sans-serif;
	font-weight: bolder;
	padding: 20px;
	margin-top: 80px;
}

.isihero{
	text-align: center;
	font-size: 20px;

}

.content{
	display: grid;
	grid-template-columns: 50% auto;
	padding: 50px;
	grid-gap: 30px;
	align-items: center;
	margin:auto;
	justify-content: center;
}

.formcontact{
	width: 500px;
	text-align: left;
	align-self: flex-start;
}

.nama, .emailform, .pesan{
	padding: 10px;
	font-size: 18px;
}

.formnama, .formemail{
	width: 450px;
	height: 20px;
	font-size: 18px;
	padding: 5px; 
	border:none;
	background-color: #dbdbdb;
	margin-top: 8px;
	font-family: inherit;
}
.judulform{
	text-align: left;
	padding: 5px;
	font-size: 25px;
	margin-bottom: 20px;

}

textarea{
	width: 450px;
	height: 100px;
	font-size: 18px;
	padding: 5px; 
	border:none;
	background-color: #dbdbdb;
	margin-top: 8px;
	resize: none;
	font-family: inherit;
}

.kirimpesan{
	width: 460px;
	height: 40px;
	padding: 5px;
	font-size: 18px;
	text-align: center;
	background-color: #eda047;
	border-style: none;
	font-family: inherit;
	align-self: center;
	margin: 10px;
	color: white;
}

.kirimpesan:hover{
	filter: brightness(50%);
	cursor: pointer; 
}

.alamatkontak{
	padding-top: 14px;
	line-height: 25px;
	font-size: 18px;
}

.medsos{
	display: grid;
	grid-template-columns: 30px 30px 30px 30px;
	padding: 20px 20px 20px 0px;
	grid-gap: 20px;
}

.fbkontak img, .igkontak img, .twitterkontak img, .linkedinkontak img{
	width: 30px;
	filter: grayscale(100%);
	clip-path: circle(50% at 50% 50%);
}

.fbkontak img:hover{
	filter: grayscale(100%);
	filter: brightness(40%);
}

.igkontak img:hover{
	filter: grayscale(100%);
	filter: brightness(40%);
}

.twitterkontak img:hover{
	filter: grayscale(100%);
	filter: brightness(40%);
}

.linkedinkontak img:hover{
	filter: grayscale(100%);
	filter: brightness(40%);
}

.footer{
	width: 100%;
	height: auto;
	background-color: #303030;
	display: grid;
    grid-template-columns:  auto auto auto auto auto;
    justify-content: left;
 	align-content: center;
 	vertical-align: middle;
 	color: white;
}


.logokotak{
	align-self: center;
	margin: 30px;
}

.logokotak img{
	width: 150px;
}

.findus{
	padding: 30px;
	text-align: left;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
	
}

.findus h1{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.maps{
	padding: 20px;
	align-self: center;
	height: auto;
}

.aboutfooter{
	padding: 30px;
	text-align: left;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
}

.aboutfooter h1{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.subscribe{
	padding: 30px;
	text-align: left;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
}

.subscribe h1{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.emailsubs{
	border-style: none;
	padding: 10px;
	font-size: 14px;
}

.submitsubs{
	background-color: transparent;
	border-style: none;
	padding: 10px;
	font-size: 30px;
	color: white;
}

.submitsubs:hover{
	cursor: pointer;
	color: #dbdbdb;
}