/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

@font-face{
	font-family: muli;
	src: url("fonts/Muli.ttf");
}

@font-face{
	font-family: muli-bold;
	src: url("fonts/Muli-Bold.ttf");
}

@font-face{
	font-family: muli-bolditalic;
	src: url("fonts/Muli-BoldItalic.ttf");
}

@font-face{
	font-family: muli-light;
	src: url("fonts/Muli-Light.ttf");
}
@font-face{
	font-family: muli-black;
	src: url("fonts/Muli-Black.ttf");
}
body{
	width: 100%;
	height: 100%;
	font-family: muli, sans-serif;
}

.hero{
	width: 100%;
	height: 600px;
	background-image: url(img/loginpage.jpg);
	background-blend-mode: darken;
	background-size: 100%;
}



.header{
	width: 100%;
	height: 30px;
	margin-left: 20px;
	margin-right: 0px;
	margin-top: 0px;
	align-content: center;
	padding: 10px;
	margin-bottom: 30px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
	clear: both;}

.header .login{
	width: 63px;
	height: auto;
	background-color: white;
	padding: 5px;
	float: left;
	border-radius: 14px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.content-header{
	width: 50%;
	margin-left: 30px;
}
.header .login a{
	color: black;
	text-decoration: none;
	font-weight: bolder;
}

.icon{
	float: left;
	width: 123px;
	height: 34px;
}


.navbar{
	width: 80%;
    border:1px solid #ccc;
    border-width:0px 0;
    list-style:none;
    margin:0;
    padding:0;
	text-align:center;
	float: left;
}
.navbar li{
    display:inline;
    float: center;
}
.navbar li a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}
.navbar a:hover {
	text-decoration: underline;
}


/*.isihero{
	width: 780px;
	height: 291px;
	float: center;
	margin: auto;
}*/

.formlogin{
	width: 700px;
	margin: auto;
	background: rgba(255, 255, 255, 0.4);
}

.login{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-weight: normal;
}

.judullogin{
	text-align: center;
	font-weight: bolder;
	padding: 20px;
	font-size: 40px;
	color: white;

}

.isilogin{
	width: 600px;
	margin: auto;
	line-height: 
}

#username, #password{
	text-decoration: none;
	font-family: inherit;
	font-size: 20px;
	border-radius: 14px;
	padding: 5px;
	text-align: center;
	width:500px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
	margin-right: 10%;
	outline: none;
}

#tombollogin{
	background-color: #7d97af;
	font-family: muli-bold, sans-serif;
	text-align: center;
	width:520px;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 5px;
	border-radius: 35px;
	font-size: 20px;
	color: white;
	outline: none;
}


#tombollogin:hover{
	background-color: #506170;
	text-decoration: underline;
	cursor: pointer;
}


.google, .facebook{
	padding: 10px;
	background-color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 10%;
	width: 500px;
	border-radius: 35px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.google:hover{
	background-color: #dbdbdb;
	cursor: pointer;
}

.facebook:hover{
	background-color: #dbdbdb;
	cursor: pointer;
}

.google a, .facebook a{
	text-decoration: none;
	padding: 5px;
	color: black;
	vertical-align: middle;
}

.google img{
	height: 20px;
}

.facebook img{
	height: 20px;
}

.belum{
	text-align: center;
	padding: 30px;
	color: white;
	margin-bottom: 30px;
}

.belum a{
	color: white;
	text-decoration: underline;
}

.belum a:hover{
	color: #dbdbdb;
}

.csection1{
	width: 75%;
	align-items: center;
	vertical-align: center;
	margin: auto;
}

.content1 img{
	width: 500px;
	margin: 20px;
	float: left;
}

.judul1{
	font-size: 35px;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
	line-height: 30px;
}
.isi1{
	padding-top: 18px;
	padding-bottom: 50px;
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
	line-height: 30px;
}



#teks{
	padding-top: 100px;
	padding-left: auto;
	padding-right: auto;
	vertical-align: middle;
}

.section2{
	background-color: #1885c3;
	width: 100%;
	margin-top: 100px;
}

.container2{
	width: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.logo2 img{
	width:750px;
	padding: 20px;
	align-items: center;
	margin-left: -50px;
}

.hubungi{
	text-align: center;
	padding: 20px;
	background-color: white;
	border-radius: 20px;

}
.hubungi a{
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	color: black;
}


/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

.footer{
	width: 100%;
	height: auto;
	background-color: #303030;
	display: grid;
    grid-template-columns:  auto auto auto auto auto;
    justify-content: left;
 	align-content: center;
 	vertical-align: middle;
 	color: white;
}


.logokotak{
	align-self: center;
	margin: 30px;
}

.logokotak img{
	width: 150px;
}

.findus{
	padding: 30px;
	text-align: left;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
	
}

.findus h1{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.maps{
	padding: 20px;
	align-self: center;
	height: auto;
}

.aboutfooter{
	padding: 30px;
	text-align: left;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
}

.aboutfooter h1{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.subscribe{
	padding: 30px;
	text-align: left;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
}

.subscribe h1{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.emailsubs{
	border-style: none;
	padding: 10px;
	font-size: 14px;
}

.submitsubs{
	background-color: transparent;
	border-style: none;
	padding: 10px;
	font-size: 30px;
	color: white;
}

.submitsubs:hover{
	cursor: pointer;
	color: #dbdbdb;
}